.openLocationCode {
  font-size: 14px;
}

.openLocationCode .hidden {
  display: none;
}

.openLocationCode .currentLocationWrapper {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.openLocationCode .code {
  font-family: monospace;
}